body{
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}
h1 {
    font-size: 5.625em;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}
h4 {
    font-family: 'Montserrat', sans-serif;
}


.head-container {
    

    background-color: ＃aaaaaa;
    padding-top: 10px;
}
.cactus{
    position: relative;
    border-radius: 100%;
    background-color: black;
    left: 50px;
  
 


}

.Top-Container {
    text-align: center;
    background-color: pink;
    position: relative;
    padding-top: 100px;
  padding-bottom: 10px;

    /*border: solid 10px;*/
    
}


.Mid-Container {

}
.Profile {
    background-color: #f6f6f6;
    text-align: center;
   
    
    
}
.Me {
    border-radius: 150%;
    height: 200px;
    width: 200px;
}


.cloudimg1 {
    position: absolute;
    left: 1100px;
    top: 100px;
}
.cloudimg2 {
    position: absolute;
    left: 500px;
    bottom: 300px;
}
.mountain-img {
   
    bottom: 500px;

}

.Bot-Container {

}
/*TEST*/
.red{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 200px;
 

}

.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
   
}

.yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
    position: absolute;
    top: 0px;
    
}