body{
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
   color: #40514E;
    
}
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #fbf6f0;
    #fbf6f0;
}
h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5rem;
   color: #ffb6b9;
   padding-bottom: 10px;

}
h3 {
   line-height: 2;
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   font-size: 1.785rem;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fbf6f0;
}
a {
   padding-bottom: 10px; 
   margin: 10px 20px;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
}
a:hover {
    color: #fbf6f0;;
}
hr {
border:none;
  border-top:20px dotted #EAF6F6;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:10%;
  margin: 100px auto;
  text-align: center;
}

p {
    line-height: 2;
}

.cactus{
    position: absolute;
    border-radius: 100%;

    left: 400px;

}

.Top-Container {
    text-align: center;
    background-color: pink;
    position: relative;
    padding-top: 100px;
  padding-bottom: 150px;

    /*border: solid 10px;*/
    
}


.Mid-Container {
   margin: 100px 0;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.Profile {
  
    text-align: center;
   
    
    
}
.Me {
    border-radius: 150%;
    height: 250px;
    width: 200px;
}
.intro {
    width: 30%;
    margin: auto;
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.cloudimg1 {
    position: absolute;
    left: 1100px;
    top: 100px;
}
.cloudimg2 {
    position: absolute;
    left: 500px;
    bottom: 500px;
}
.mountain-img {
   
    bottom: 500px;

}
.code-png {
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
.model-img {
    width: 25%;
    float: right;
    margin-left: 30px;
    
  
}
.Bot-Container {
    background-color: pink;
    padding: 50px 0 20px;
}
.copyright {
    color: #fbf6f0;
    font-size: 0.75rem;
    padding: 20px 0;
}
/**********BUTTON***************/
.btn {
   background: #FF80B0;
   background-image: -webkit-linear-gradient(top, #FF80B0, #FF80B0);
   background-image: -moz-linear-gradient(top, #FF80B0, #FF80B0);
   background-image: -ms-linear-gradient(top, #FF80B0, #FF80B0);
   background-image: -o-linear-gradient(top, #FF80B0, #FF80B0);
   background-image: -webkit-gradient(to bottom, #FF80B0, #FF80B0);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Trebuchet MS;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   border: solid #FF80B0 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #D45079 1px;
   background: #D45079;
   background-image: -webkit-linear-gradient(top, #D45079, #D45079);
   background-image: -moz-linear-gradient(top, #D45079, #D45079);
   background-image: -ms-linear-gradient(top, #D45079, #D45079);
   background-image: -o-linear-gradient(top, #D45079, #D45079);
   background-image: -webkit-gradient(to bottom, #D45079, #D45079);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
/*TEST*/
.red{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 200px;
 

}

.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
   
}

.yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
    position: absolute;
    top: 0px;
    
}